.background {

    width: 100%; /* Define a largura da imagem como 50% do tamanho original */
    display: block; /* Para garantir que a margem automática funcione */
    margin-left: auto; /* Centraliza a imagem horizontalmente */
    margin-right: auto; /* Centraliza a imagem horizontalmente */
    margin-top: auto;
    margin-bottom: auto;
}

.time {

    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    color: white;
    position: fixed;
    bottom: 81%;
    left: 2.5%;
    user-select: none;
}

.date {

    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: white;
    position: fixed;
    bottom: 85.5%;
    left: 12%;
    user-select: none;
}

.temperature {

    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: white;
    position: fixed;
    bottom: 85.5%;
    right: 8%;
    user-select: none;
}

.sun {

    position: fixed;
    bottom: 88.5%;
    left: 92.5%;
}

.close-button {
    position: fixed;
    top: 18%; /* Distância do topo */
    right: 18%; /* Distância da esquerda */
    cursor: pointer;
    z-index: 9999; /* Para garantir que o botão esteja sempre na parte superior */
    display: none;
}

.close-button img {
    width: auto; /* Define a largura da imagem como automática */
    height: 50px; /* Define a altura desejada */
}


.bluetooth {

    width: 27px;
    height: 53px;
    position: fixed;
    bottom: 88.7%;
    left: 84.5%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.bluetooth-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.music-outside-frame {

    width: 67%;
    height: 70%;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position:absolute; /* para que o botão fique sobre a imagem */
    left: 17%; 
    top: 15%;
    border-radius: 16px;
}

.music-outside-frame-img {

    width: 100%;        /*forcar a imagem a ocupar 100% do espaço do div*/
}

.map-box {

    width: 65%;
    height: 58%;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position:absolute; /* para que o botão fique sobre a imagem */
    left: 18%; 
    top: 16.5%;
    border-radius: 16px;
}

.map-box iframe{

    width: 100%;
    height: 100%;
}

.peugeot-maps{

    width: 16%;
    height: 12.5%;
    position: absolute;
    background-color: white;
    top: 17.2%;
    left: 18.5%;
    border-radius: 4px;
}

.peugeot-icon{

    height: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
    right: 50%;
}

.peugeot-text{

    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: black;
    position: absolute;
    user-select: none;
    bottom: 10%;
    left: 51%;
    line-height: 10%;
    text-align: center;

}

.white-bar{

    width: 64.42%;
    height: 1.1%;
    background-color: white;
    bottom: 25.5%;
    position: absolute;
    right: 17.25%;
    border-radius: 16px;
}

.map{

    width: 3%;
    position: absolute;
    bottom: 17%;
    left: 25%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.map-img{

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.selection{

    background-color: rgb(28, 143, 24);
    width: 4%;
    height: 0.8%;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position: absolute; /* para que o botão fique sobre a imagem */
    left: 24.5%; 
    bottom: 16%;
    border-radius: 16px;
}

.favorites{

    position: absolute;
    bottom: 17.7%;
    left: 40.5%;
    width: 3.5%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.favorites-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.saved{

    position: absolute;
    bottom: 17.5%;
    left: 57%;
    width: 2.7%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.saved-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.search{

    position: absolute;
    bottom: 17.5%;
    left: 73%;
    width: 3.5%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.search-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.selection2{

    background-color: rgba(255, 255, 255, 0.438);
    width: 4%;
    height: 0.8%;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position: absolute; /* para que o botão fique sobre a imagem */
    left: 40.3%; 
    bottom: 16%;
    border-radius: 16px;
}

.selection3{

    background-color: rgba(255, 255, 255, 0.438);
    width: 4%;
    height: 0.8%;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position: absolute; /* para que o botão fique sobre a imagem */
    left: 56.4%; 
    bottom: 16%;
    border-radius: 16px;
}

.selection4{

    background-color: rgba(255, 255, 255, 0.438);
    width: 4%;
    height: 0.8%;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position: absolute; /* para que o botão fique sobre a imagem */
    left: 72.9%; 
    bottom: 16%;
    border-radius: 16px;
}

.line {

    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position: absolute; /* para que o botão fique sobre a imagem */
    bottom: 8.9%;
    left: 25%;
    border-radius: 20px;
}

.nav-selected{

    background-color: white;
    width: 4%;
    height: 0.8%;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
    position: absolute; /* para que o botão fique sobre a imagem */
    left: 55.8%; 
    bottom: 9.3%;
    border-radius: 16px;
}

.home{

    position: absolute;
    bottom: 1.9%;
    left: 28.4%;
    width: 3.5%;
    height: 6.2%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.home-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.phone {

    position: absolute;
    bottom: 1.4%;
    left: 35.5%;
    width: 4%;
    height: 6.8%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.phone-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/;
}

.music {

    position: absolute;
    bottom: 1.4%;
    left: 42.5%;
    width: 3.5%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.music-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.car-app {

    position: absolute;
    bottom: 1.3%;
    left: 50%;
    width: 3.3%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.car-app-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.nav {

    position: absolute;
    bottom: 0.7%;
    left: 55.4%;
    width: 5.5%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.nav-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.apps {

    position: absolute;
    bottom: 1.7%;
    left: 69%;
    width: 3.5%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.apps-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}

.ac {

    position: absolute;
    bottom: 1.7%;
    left: 63%;
    width: 3.5%;
    cursor: pointer;
    overflow: hidden; /* para evitar que a imagem ultrapasse o div */
}

.ac-img {

    width: 100%;    /*forcar a imagem a ocupar 100% do espaço do div*/
}