.frame-2 .music-selected-radio-channels-1 {
  background: url('../assets/images/musicSelectedRadioChannels1.png') 50% / cover no-repeat;
  width: 1920px;
  height: 1080px;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1920px;
  box-sizing: border-box;
}
